<framework-data>
	<options>
		<option id="com.atmel.avr32.sf.uc3b.utils" value="true"/>
		<option id="com.atmel.avr32.sf.uc3b.common.boards" value="true"/>
		<option id="com.atmel.avr32.sf.uc3b.common.services.basic.clock" value="true"/>
		<option id="com.atmel.avr32.sf.uc3b.common.components.memory.data_flash.at45dbx.example" value="true"/>
		<option id="com.atmel.avr32.sf.uc3b.common.components.memory.data_flash.at45dbx" value="true"/>
		<option id="com.atmel.avr32.sf.uc3b.drivers.gpio" value="true"/>
	</options>
	<files>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/preprocessor/stringz.h" source="avr32/utils/preprocessor/stringz.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/config/conf_spi_master.h" source="common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/conf_spi_master.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/parts.h" source="avr32/utils/parts.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/preprocessor/preprocessor.h" source="avr32/utils/preprocessor/preprocessor.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/spi/spi.c" source="avr32/drivers/spi/spi.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/components/memory/data_flash/at45dbx/at45dbx_hal_spi.h" source="common/components/memory/data_flash/at45dbx/at45dbx_hal_spi.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/utils/interrupt.h" source="common/utils/interrupt.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/config/conf_board.h" source="common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/conf_board.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/spi/spi.h" source="avr32/drivers/spi/spi.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf.h" source="./common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/as5_32/asf.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/uc3b0_b1/osc.h" source="common/services/clock/uc3b0_b1/osc.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/components/memory/data_flash/at45dbx/at45dbx.c" source="common/components/memory/data_flash/at45dbx/at45dbx.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/uc3b0_b1/genclk.h" source="common/services/clock/uc3b0_b1/genclk.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/boards/evk1101/evk1101.h" source="avr32/boards/evk1101/evk1101.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/config/conf_clock.h" source="common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/conf_clock.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/components/memory/data_flash/at45dbx/at45dbx.h" source="common/components/memory/data_flash/at45dbx/at45dbx.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/intc/intc.c" source="avr32/drivers/intc/intc.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/gpio/gpio.h" source="avr32/drivers/gpio/gpio.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/uc3b0_b1/sysclk.h" source="common/services/clock/uc3b0_b1/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/status_codes.h" source="avr32/utils/status_codes.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/gpio/gpio.c" source="avr32/drivers/gpio/gpio.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/intc/intc.h" source="avr32/drivers/intc/intc.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/uc3b0_b1/sysclk.c" source="common/services/clock/uc3b0_b1/sysclk.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/preprocessor/mrepeat.h" source="avr32/utils/preprocessor/mrepeat.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/flashc/flashc.h" source="avr32/drivers/flashc/flashc.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/linker_scripts/at32uc3b/0256/gcc/link_uc3b0256.lds" source="avr32/utils/linker_scripts/at32uc3b/0256/gcc/link_uc3b0256.lds" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/startup/trampoline_uc3.S" source="avr32/utils/startup/trampoline_uc3.S" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/sysclk.h" source="common/services/clock/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/uc3b0_b1/pll.h" source="common/services/clock/uc3b0_b1/pll.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/flashc/flashc.c" source="avr32/drivers/flashc/flashc.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/preprocessor/tpaste.h" source="avr32/utils/preprocessor/tpaste.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/spi/spi_master.h" source="common/services/spi/spi_master.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/utils/interrupt/interrupt_avr32.h" source="common/utils/interrupt/interrupt_avr32.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/boards/evk1101/init.c" source="avr32/boards/evk1101/init.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/osc.h" source="common/services/clock/osc.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/at45dbx_example.c" source="common/components/memory/data_flash/at45dbx/example/at45dbx_example.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/startup/startup_uc3.S" source="avr32/utils/startup/startup_uc3.S" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/compiler.h" source="avr32/utils/compiler.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/genclk.h" source="common/services/clock/genclk.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/config/conf_data_flash_example.h" source="common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/conf_data_flash_example.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/boards/board.h" source="common/boards/board.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/spi/uc3_spi/spi_master.c" source="common/services/spi/uc3_spi/spi_master.c" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/boards/evk1101/led.h" source="avr32/boards/evk1101/led.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/spi/uc3_spi/spi_master.h" source="common/services/spi/uc3_spi/spi_master.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/utils/startup/trampoline_uc3.h" source="avr32/utils/startup/trampoline_uc3.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/common/services/clock/pll.h" source="common/services/clock/pll.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/drivers/intc/exception.S" source="avr32/drivers/intc/exception.S" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/config/conf_at45dbx.h" source="common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/conf_at45dbx.h" changed="False"/>
		<file framework="com.atmel.avr32.sf.uc3b" version="2.5.1-17860" path="src/asf/avr32/boards/evk1101/led.c" source="avr32/boards/evk1101/led.c" changed="False"/>
	</files>
	<documentation help="http://asf.atmel.com/docs/2.5.1/common/components/memory/data_flash/at45dbx/example/at32uc3b0256_evk1101/doxygen/html/"/>
</framework-data>
